.storageBox {
  box-sizing: border-box;
  height: 200px;
  min-height: auto;
  width: 200px;
  overflow: hidden;
  margin: 10px;
  border-radius: 3%;
  position: relative;
  padding: 20px;
  background: rgb(253, 253, 253);
  transition: 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.storageBox:hover {
  height: 210px;
  width: 210px;
  /* transition: 0.2s ease-in-out; */
  cursor: pointer;
}

.storageBoxOpen {
  z-index: 3 !important;
  width: 100% !important;
  min-height: 1500px !important;
  height: auto !important;
  top: 0px;
  left: 0px;
  position: absolute !important;
  transition: 0s ease-in-out !important;
  border-radius: 0 !important;
  margin: 0px !important;
  padding-left: 15%;
}

@media only screen and (max-width: 1200px) {
  .storageBoxOpen {
    padding: 0%;
  }
}
.contentContainer {
  width: 99vw;
}

.title {
  font-size: 30px;
  position: absolute;
  margin: 0;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 190px;
  height: auto;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
}

.titleHover {
  background-color: rgb(224, 224, 224);
  font-weight: 400;
}

.closeBoxBtn {
  padding: 10px 16px;
  background: #009ddc;
  box-shadow: rgba(0, 0, 0, 0.753) 0px 3px 8px;
  background-size: 400% 400%;
  color: white;
  border-radius: 4px;
  position: relative;
  left: 78%;
  margin-top: 20px;
  user-select: none;
}
.closeBoxBtn:active {
  background-color: #0c76b1;
  transform: translateY(3px);
}
