.text {
  position: relative;
  font-size: 20px;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 300ms ease-in-out;
}

.text:hover {
  transition: 300ms ease-in-out;
  top: 31%;
}
