.container {
  height: 60vh;
  width: 60vw;
  max-width: 375px;
  max-height: 375px;
  background: white;
  border: 1px black solid;
  position: absolute;
  z-index: 1;
}

.container button:hover {
  cursor: pointer;
}

.popupExit {
  position: absolute;
  left: 96%;
}

.container input {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 30px;
  font-size: 20px;
}

.createBtn {
  width: 75%;
  height: 30px;
  border: 1px black solid;
  background: white;
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
}

.createBtn p {
  top: 50%;
  left: 50%;
  transform: translate(0%, -60%);
}
