.title {
  font-size: 30px;
  position: absolute;
  margin: 0;
  padding-left: 10px;
  padding-right: 15px;
  width: 198px;
  height: auto;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  overflow: auto;
}
.title:hover {
  background-color: rgba(211, 211, 211, 0.589);
}
