.storageBox {
  box-sizing: border-box;
  border: 1px solid black;
  height: 200px;
  min-height: auto;
  width: 200px;
  overflow: hidden;
  margin: 10px;
  border-radius: 5%;
  transition: 0.2s ease-in-out;
  position: relative;
  padding: 20px;
  background: white;
  transition: 2s ease-in-out;
}

.storageBox:hover {
  height: 210px;
  width: 210px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.storageBoxOpen {
  z-index: 3 !important;
  width: 99vw !important;
  height: 1500px !important;
  top: 0px;
  position: absolute !important;
  transition: 2s ease-in-out !important;
  border-radius: 0 !important;
  margin: 0px !important;
}

.contentContainer {
  width: 99vw;
}
